<table class="center">
    <thead>
      <tr>
        <th colspan="7">Lista de empleados</th>
        <th><a href="/editar">Editar</a></th>
        <button id="th"(click)="eliminarTodo()"><th>Delete All</th></button>        
        
      </tr>
      <tr>
        <th>ID</th>
        <th>Código</th>
        <th>Nombre</th>
        <th>Lugar de nacimiento</th>
        <th>Fecha de nacimiento</th>
        <th>Teléfono</th>
        <th>Email</th>
        <th>Cargo</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody *ngFor="let fila of filas">
      <tr>
        <td>{{fila.id}}</td>
        <td>{{fila.data.codigo}}</td>
        <td>{{fila.data.nombre}}</td>
        <td>{{fila.data.lugarNac}}</td>
        <td>{{fila.data.fechaNac}}</td>
        <td>{{fila.data.telefono}}</td>
        <td>{{fila.data.email}}</td>
        <td>{{fila.data.cargo}}</td>
        <td>
          <button (click)="eliminar(fila.id)"><i class="material-icons button delete">delete</i></button>
        </td>
      </tr>
    </tbody>
</table>

